.cont{
    display: flex;
    flex-direction: column;
     /* align-items: center; */
    justify-content: center;
    gap:0;

}
.certificate_border{
    height: 1900px;
    width: 860px;
    position:relative;
    margin-left: 20px;
    margin-top: 100px;

}
.certificate_details{
    position: absolute;
    /* height:100%;
    width:100%; */
    width: 1000px;
    height: 750px;
    top:0;
    left:0;

}
.certificate_details h1{
margin-top:500px;
margin-left:400px;
}

.certificate_details .courseName{
    margin-top:45px;
    margin-left:450px;
    }


    .certificate_details .date{
        margin-top:-12px;
        margin-left:450px;
        }

    .download-btn{
        background-color: limegreen;
        color:black;
        width:10%;
        border-radius: 5px;
        margin-bottom: 30px;
        margin-left: 500px;
    }