*{
    margin:0;
    box-sizing: border-box;
}
.page-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, #fbad7f9e, #cdccc8, white);
  
}
.content{
    width: 85%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    border: 0.125rem;
}
.slide-panel{
    display: flex;
    align-items: center;
    width: 25em;
    height: 25em;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.prev, .next{
    width: 2em;
    height: 2em;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.25s;
}
.prev{background-image: 'url("https://icons8.com/icon/set/backward/metro")';}
.next{background-image: 'url("https://icons8.com/icon/60/forward")';}

.prev:hover, .next:hover{
    transform: scale(1.25);
}
img{
    scroll-snap-align: start;
    min-width: 100%;
}