
*{
    box-sizing: border-box;
    font: Courier;
}

.course-preview{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(10px, auto);
    margin:0 auto;
    grid-gap:10px;
}

.course-preview-header{
    grid-column: 1/10;
    grid-row: 1/2;
}
.course-info{
    grid-column: 1/10;
    grid-row: 2/4;  
}
.outline{
    grid-column: 1/10; 
    grid-row:4/5;
}

@media (min-height: 150px) {
    .topics{
         columns: 20rem 2;
         text-align:left;
         padding-left: 15px;
    }
     .topics p:not(:first-child){
        margin-top:4px;
    }
}

.course-info p{
    text-align: left;
}

.content{
    grid-column: 1/10;
    grid-row: 5/8;
}

.preview{
border: 1px solid rgb(52, 75, 54);
grid-column: 10/13;
grid-row: 1/8;
display: flex;
flex-direction: column;
align-items: center;
}

.preview h3 button{
    padding: 5px;
}

.preview-video{
    padding: 10px;  
}

.course-preview-header, .outline,
.content, .course-info
 {
    border: 1px solid rgb(52, 75, 54);
    text-align: center;
}

